* {
  box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	color: #f2f2f2;
	text-align: center;
	background-color: #0f0f0f;
}

.part {
background:
    linear-gradient(
      to bottom,
      rgba(15, 15, 15, 0) 0%,
      rgba(15, 15, 15, 0.4) 55%,
      rgba(15, 15, 15, 0.8) 75%,
      #0f0f0f 100%
    ),
    url("image/fond1.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
}

h1 {
	color: #c9a24d;
	letter-spacing: 2px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 2.3rem;
	font-weight: bold;
	padding-top: 50px;
}


header p {
	font-style: italic;
	letter-spacing: 1.2px;
	font-size: 1rem;
}

button {
	border: 1px solid #c9a24d;
	font-size: 12px;
	border-radius: 15px;
	background-color: #c9a24d;
	color: black;
	font-weight: bold;
	margin-bottom: 30px;
	padding: 8px;
}
button:hover {
   border: 1px solid #c9a24d;
	background: black;
	color: #c9a24d;
}

#services {
	padding: 40px 20px;
	max-width: 1200px;
	margin: auto;
}

h2 {
  	color: #d6b36a;
  	font-size: 1.8rem;
  	margin-bottom: 20px;
	padding-top: 20px;
	text-transform: uppercase;
}

.services-card {
   border: 1px solid rgba(201, 162, 77, 0.25);
 	margin: 20px;
	box-shadow: 0 0 35px rgba(201, 162, 77, 0.15);
	padding: 10px;
} 

h3 {
  color: #a8873a;
  font-size: 1.4rem;
}

#choose {
	padding: 20px;
	max-width: 1200px;
	margin: auto;
}

#choose p {
	letter-spacing: 1.2px;
	font-size: 1rem;	
}

#choose ul {
	line-height: 1.8;
}

#choose li {
	letter-spacing: 1.2px;
	font-size: 1rem;
}

#gallery {
   padding-top: 60px;
	max-width: 1200px;
	margin: auto;
}

#gallery .gallery-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

#gallery .gallery-card {
	display: flex;
	flex-direction: column;
	padding: 10px;
}
#gallery .gallery-grid img {
	width: 100%;
	height: auto;
	aspect-ratio: 3 / 4;
	object-fit: cover;
	border-radius: 15px;
	max-width: 100%;
}

#contact {
  background:
    linear-gradient(
      to bottom,
      #0f0f0f 0%,
      rgba(15, 15, 15, 0.85) 20%,
      rgba(15, 15, 15, 0.4) 45%,
      rgba(15, 15, 15, 0) 65%
    ),
    url("image/fond2.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact label {
  font-size: 11px;
  letter-spacing: 1px;
  color: white;
  margin-top: 20px;
  font-weight: 700;
}

#contact input,
#contact textarea {
  width: 100%;
  border: 3px solid white;
  border-radius: 15px;
  padding: 12px;
  margin-top: 8px;
  color: white;
  background: none;
  font-family: Arial, sans-serif;
}

footer {
  text-align: center;
  background: #0f0f0f;
  max-width: 1200px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.socials a {
  font-size: 18px;
  color: #a8873a;
}

.credit {
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  font-style: italic;
}

.slogan {
	font-size: 16px;
	letter-spacing: 1px;
	color: #a8873a;
}

@media (min-width: 480px) {
  h1 {
    font-size: 2.6rem;
  }

  #services {
    padding: 60px 40px;
  }
}

@media (min-width: 768px) {
  header {
    padding: 120px 40px;
  }

  .services-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  #choose {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }

  #gallery .gallery-grid {
    gap: 40px;
  }

  header {
    max-width: 1100px;
    margin: auto;
  }
}
